//============= footer========
/* src/components/Footer.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: #12492a;
  display: flexl;
  align-items: center;
  justify-content: center;

  padding: 20px;

  font-size: 15px;
  .logo {
    display: flex;
    justify-self: center;
    align-self: center;
    max-width: 100px;
    height: 34px !important;
    margin: 0 auto;
  }
}

.footer-bottom {
  height: auto !important;
  max-width: 1600px;

  margin: auto;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-select {
  width: 100%;

  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
}
.btn-submit {
  background-color: #12492a;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  border: 1px solid #f8f8f8;
  cursor: pointer;

  &:active {
    background-color: #0e3b20;
  }
}
