//============= footer========
/* src/components/Footer.scss */
Footer {
  background-color: #2BAF65 !important;
    flex: 0;
    color: #d20000;
  
  }
  .area-2,.area-3,.area-4,.area-5{
    display: none !important;
    }

 