/* InputButton.css */
.input-button-container {
    display: flex;
    align-items: center;
   width: 520px;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #1B4D3E; /* Border color */
    border-radius: 0px; /* Rounded corners on the left side */
    outline: none;
    font-size: 16px;
    flex: 1;
    margin-right: 5px; /* Space between input and button */
    box-sizing: border-box; /* Ensures padding and border are included in the element's width and height */
  }
  
  .button {
    padding: 10px 20px;
    border: 1px solid #1B4D3E; /* Border color */
    border-radius: 0px; /* Rounded corners on the right side */
    background-color: #1B4D3E; /* Button background color */
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Prevents text from wrapping */
  }
  
  .button i {
    margin-left: 5px;
  }
  
  .button:hover {
    background-color: #145032; 
  }
  