.dropdown-menu-collapse {
  width: 100vw;
  position: absolute;
  left: 0;
}
button:focus::before{
  border: 0px !important;

}
// .pgn__dropdown-item:hover {
//     background-color: #d1d1d1 !important;
    
//   }

.learner-variant-header {
  a {
    // needed to make the link not resize the header
    border-bottom: 2px solid transparent;
    color: #21472E;
  }
  .course-link {
    border-bottom: 2px solid #21472E !important;
  }

  .course-link:hover {
    border-bottom: inherit !important;
  }
}

.nav-small-menu {
  > * {
    justify-content: flex-start !important;

    border-radius: 0 !important;
    border-top: 1px solid #ddd !important;

    &::after {
      content: '\00BB';
    
    }
  }
}

.logo {
  // copy from legacy dashboard
  height: 40px;
}
header {

  .header-wrapper{
    max-width: 1600px !important;
    margin:  auto !important;
    //background-color: #b0d812da !important;
  }
}

